[package]
name = "shuttle"
version = "0.0.1"
authors = ["James Bornholt <bornholt@amazon.com>", "Rajeev Joshi <jorajeev@amazon.com>"]
edition = "2018"
license = "Apache-2.0"
description = "A library for testing concurrent Rust code"
repository = "https://github.com/awslabs/shuttle"

[dependencies]
bitvec = "~0.21.0"
futures = "~0.3.5"
generator = "~0.6.24"
hex = "~0.4.2"
rand_core = "~0.5.1"
rand = { version = "~0.7.3", default-features = false, features = ["getrandom"] }
rand_pcg = "~0.2.1"
scoped-tls = "~1.0.0"
smallvec = "~1.6.1"
test-env-log = { version = "~0.2.2", default-features = false, features = ["trace"] }
tracing = "~0.1.21"
tracing-subscriber = "~0.2.12"
varmint = "~0.1.3"

[dev-dependencies]
criterion = "~0.3.3"
proptest = "~0.10.1"
proptest-derive = "~0.2.0"
regex = "~1.3.9"

[lib]
bench = false

[[bench]]
name = "lock"
harness = false

[[bench]]
name = "buffer"
harness = false

[[bench]]
name = "counter"
harness = false
