[package]
name = "shuttle"
version = "0.1.0"
authors = ["James Bornholt <bornholt@amazon.com>"]
edition = "2018"
license = "Apache-2.0"
description = "A library for testing concurrent Rust code"

publish = false

exclude = [
    "build/*"
]

[dependencies]
generator = "~0.6.22"
rand = { version = "~0.7.3", default-features = false, features = ["getrandom"] }
rand_pcg = "~0.2.1"
scoped-tls = "~1.0.0"