[package]
name = "shuttle"
version = "0.0.7"
edition = "2018"
license = "Apache-2.0"
description = "A library for testing concurrent Rust code"
repository = "https://github.com/awslabs/shuttle"
keywords = ["concurrency", "lock", "thread", "async"]
categories = ["asynchronous", "concurrency", "development-tools::testing"]

[dependencies]
ansi_term = "~0.12.1"
bitvec = "~0.21.0"
generator = "~0.7.0"
hex = "~0.4.2"
rand_core = "~0.5.1"
rand = "~0.7.3"
rand_pcg = "~0.2.1"
scoped-tls = "~1.0.0"
smallvec = "~1.6.1"
tracing = { version = "~0.1.21", default-features = false, features = ["std"] }
varmint = "~0.1.3"

[dev-dependencies]
criterion = { version = "~0.3.4", features = ["html_reports"] }
futures = "~0.3.5"
proptest = "~0.10.1"
regex = "~1.3.9"
tempfile = "~3.2.0"
test-env-log = { version = "~0.2.2", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "~0.3.1", features = ["env-filter"] }

[lib]
bench = false

[[bench]]
name = "lock"
harness = false

[[bench]]
name = "buffer"
harness = false

[[bench]]
name = "counter"
harness = false
